
<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>
<body>
    <h2>Login Page</h2><br>
    <div class="login">
    <form method="post" action="/login">
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="username" placeholder="Username" required>
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="password" placeholder="Password" required>
        <br><br>
        <input type="submit" value="Login">
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
        Forgot<span><a href="#">Password</a> </span> 
        <br/><br><br>
        <a href="/register">Register</a>
    </form>
</div>
</body>
</html>
